.header
  padding-top: vw(32)
  padding-bottom: vw(32)
  font-family: 'JetBrains Mono', monospace
  font-weight: 600
  &--left
    display: flex
    align-items: center
    gap: vw(40)
  &--right
    display: flex
    align-items: center
    gap: vw(40)
  &__wrapper
    display: flex
    justify-content: space-between
    align-items: center
    max-width: 95%
    margin: 0 auto

.logo
  width: vw(160)
  height: 100%
  &__img
    width: 100%
    height: 100%
    display: block

.nav
  &__list
    display: flex
    gap: vw(24)
  &__link
    opacity: .4
    transition: opacity .3s ease-in-out
    &:hover
      opacity: 1
      transition: opacity .3s ease-in-out
    
.btn--call
  background-color: #59F881
  padding: vw(15) vw(25)
  color: rgba(2, 3, 3, 1)
  transition: background-color 0.2s ease-in-out
  &:hover
    background-color: #75ff9c
    transition: background-color 0.2s ease-in-out