.hero
  padding-top: 92px
  padding-bottom: 101px
  &__container
    max-width: 80vw
    margin: 0 auto 3.5em auto
  &__title
    font-weight: 800
    font-size: 56px
    line-height: 1.2
    color: #FFF
  &__image
    width: 100%
    height: auto
    display: block
  &__info
    display: flex
    font-size: 40px
    font-weight: 800
    line-height: 1.2
    max-width: 95vw
    margin: 0 auto
    padding: 1.5em
    color: #FFF
    background-color: #2c382f

    align-items: baseline

.img__container
  display: block
  height: 100%
  margin-right: 1em